.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -15px;
  // padding-top: 60px;
  justify-content: center;
}

.gallery__link {
  margin-top: 15px;
  margin-left: 15px;
  min-width: 330px;
  flex-basis: calc((100% - 100px) / 3);
  border: 2px solid rgb(241, 238, 238);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.25s;
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
